{% extends 'app/layout.html'%}

{% load static %}

{% block contenido%}
<br>

<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/sheratton1.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/aeropuerto1.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/camio2.jpg' %}" alt="">
    </div>
</div>

<h1 align="Center">Servicios </h1>

{% load humanize %}
<div class="productos">
    {% for p in reservas %}
    <div class="producto">

        <div class="contenedor_producto">
            <a href=" http://127.0.0.1:8000/contacto/">
                <img src="{{ p.imagen.url }}" alt="imagen producto">
            </a>

            <div class="detalle">
                <h3>{{ p.tipoServicio | capfirst}}</h3>
                <h5>{{ p.descripcion | title }}</h5>
                <br>
                <h3>$ {{ p.precio | intcomma }}</h3>
            </div>

        </div>


    </div>

    {% endfor %}

</div>



{% endblock%}